##
## vm-* host kickstart for livecd-creator
##

## Not used for live images. Add this to lorax template.
# bootloader --append="console=tty0 console=ttyS1,115200n8 elevator=noop intel_iommu=on iommu=pt rd.live.ram=1"

%packages --excludeWeakdeps --excludedocs

-NetworkManager

%end

##
## user
##

user --name={{.default_user}} --password={{.password}} --plaintext --groups=wheel,libvirt
sshkey --username={{.default_user}} "{{.ssh_authorized_key}}"

%post --erroronfail

##
## networkd
##

## default

cat <<EOF > /etc/systemd/network/99_en.network
[Match]
Name=en*

[Link]
ARP=no
MTUBytes={{.mtu}}

[Network]
LinkLocalAddressing=no
DHCP=no
EOF

cat <<EOF > /etc/systemd/network/00_{{.store_if}}.network
[Match]
Name={{.store_if}}

[Link]
ARP=no
MTUBytes={{.mtu}}

[Network]
LinkLocalAddressing=no
DHCP=no
MACVTAP={{.store_macvlan_if}}
VLAN={{.lan_if}}
VLAN={{.sync_if}}
VLAN={{.wan_if}}
EOF

## vlan

cat <<EOF > /etc/systemd/network/{{.wan_if}}.netdev
[NetDev]
Name={{.wan_if}}
Kind=vlan

[VLAN]
Id=30
EOF

cat <<EOF > /etc/systemd/network/{{.sync_if}}.netdev
[NetDev]
Name={{.sync_if}}
Kind=vlan

[VLAN]
Id=60
EOF

cat <<EOF > /etc/systemd/network/{{.lan_if}}.netdev
[NetDev]
Name={{.lan_if}}
Kind=vlan

[VLAN]
Id=90
EOF

## host macvtap

cat <<EOF > /etc/systemd/network/{{.store_macvlan_if}}.netdev
[NetDev]
Name={{.store_macvlan_if}}
Kind=macvtap

[MACVTAP]
Mode=bridge
EOF

cat <<EOF > /etc/systemd/network/{{.store_macvlan_if}}.network
[Match]
Name={{.store_macvlan_if}}

[Link]
MTUBytes={{.mtu}}

[Network]
LinkLocalAddressing=no
DHCP=yes

[Address]
Address={{.store_ip}}/{{.store_netmask}}
EOF

##
## bootstrap image
##

mkdir -p {{.container_linux_image_path}}
cd {{.container_linux_image_path}}
curl -O {{.container_linux_base_url}}/{{.container_linux_version}}/coreos_production_pxe.vmlinuz
curl -O {{.container_linux_base_url}}/{{.container_linux_version}}/coreos_production_pxe_image.cpio.gz

%end