---
apiVersion: v1
kind: PodList
items:
- apiVersion: v1
  kind: Pod
  metadata:
    name: kube-flannel
    namespace: kube-system
  spec:
    restartPolicy: Always
    hostNetwork: true
    containers:
    - name: kube-flannel
      image: {{.flannel_image}}
      command:
      - "/opt/bin/flanneld"
      - "--ip-masq"
      - "--kube-subnet-mgr"
      - "--kubeconfig-file={{.kubernetes_path}}/kubelet.kubeconfig"
      securityContext:
        privileged: true
      env:
      - name: POD_NAME
        valueFrom:
          fieldRef:
            fieldPath: metadata.name
      - name: POD_NAMESPACE
        valueFrom:
          fieldRef:
            fieldPath: metadata.namespace
      volumeMounts:
      - name: run
        mountPath: "/run"
      - name: flannel-cfg
        mountPath: "/etc/kube-flannel"
      - name: kubernetes-path
        mountPath: "{{.kubernetes_path}}"
        readOnly: true
    volumes:
    - name: run
      hostPath:
        path: "/run"
    - name: flannel-cfg
      hostPath:
        path: "/etc/kube-flannel"
    - name: kubernetes-path
      hostPath:
        path: "{{.kubernetes_path}}"
- apiVersion: v1
  kind: Pod
  metadata:
    name: kube-proxy
    namespace: kube-system
  spec:
    restartPolicy: Always
    hostNetwork: true
    containers:
    - name: kube-proxy
      image: {{.kube_proxy_image}}
      command:
      - kube-proxy
      - "--config={{.kubernetes_path}}/kube-proxy-config.yaml"
      securityContext:
        privileged: true
      volumeMounts:
      - name: kubernetes-path
        mountPath: "{{.kubernetes_path}}"
        readOnly: true
    volumes:
    - name: kubernetes-path
      hostPath:
        path: "{{.kubernetes_path}}"
