#cloud-config

hostname: {{.name}}

users:
  -
    name: {{.default_user}}
    groups: [ "wheel", "libvirt", "docker" ]
    ssh-authorized-keys:
      - {{.ssh_authorized_key}}
    sudo:
      - ALL=(ALL) NOPASSWD:ALL

write_files:
  -
    path: /etc/systemd/network/99_en.network
    permissions: 0644
    content: |
      [Match]
      Name=en*

      [Network]
      LinkLocalAddressing=no
      DHCP=no
  -
    path: /etc/systemd/network/00_ens1f0.network
    permissions: 0644
    content: |
      [Match]
      Name=ens1f0

      [Network]
      LinkLocalAddressing=no
      DHCP=no
      MACVLAN=host_bridge
  -
    path: /etc/systemd/network/00_host_bridge.netdev
    permissions: 0644
    content: |
      [NetDev]
      Name=host_bridge
      Kind=macvlan

      [MACVLAN]
      Mode=bridge
  -
    path: /etc/systemd/network/00_host_bridge.network
    permissions: 0644
    content: |
      [Match]
      Name=host_bridge

      [Network]
      LinkLocalAddressing=no
      DHCP=yes

      [Address]
      Address={{.store_ip}}/{{.netmask}}
  -
    path: /etc/kubernetes/environment
    permissions: 0644
    content: |
      HYPERKUBE_IMAGE={{.hyperkube_image}}
      MANIFEST_URL={{.manifest_url}}
  -
    path: {{.cert_base_path}}-ca.pem
    permissions: 0444
    content: "{{.internal_ca}}"
  -
    path: {{.cert_base_path}}-key.pem
    permissions: 0444
    content: "{{.internal_key}}"
  -
    path: {{.cert_base_path}}.pem
    permissions: 0444
    content: "{{.internal_cert}}"
