---
variant: fcos
version: 1.0.0
systemd:
  units:
    - name: libvirtd.service
      dropins:
        - name: 10-virtualization.conf
          contents: |
            [Unit]
            ConditionVirtualization=!vm
            ConditionVirtualization=!container
    - name: firewalld.service
      mask: true
    - name: systemd-networkd-wait-online.service
      mask: true
    - name: avahi-daemon.service
      mask: true
    - name: avahi-daemon.socket
      mask: true
    - name: NetworkManager.service
      enabled: true
    - name: NetworkManager-wait-online.service
      enabled: true
    - name: fstrim.service
      enabled: true
      dropins:
        - name: 10-all.conf
          contents: |
            [Service]
            ExecStart=
            ExecStart=/usr/sbin/fstrim --all --verbose --quiet
    - name: console-login-helper-messages-issuegen.service
      dropins:
        - name: 10-disable-rate-limit.conf
          contents: |
            [Unit]
            StartLimitIntervalSec=0

storage:
  files:
    - path: /etc/systemd/journal.conf.d/05-live.conf
      mode: 0644
      contents:
        inline: |
          [Journal]
          Storage=volatile
          RuntimeMaxUse=15M
          ForwardToSyslog=false
          ForwardToConsole=false
    - path: /etc/systemd/system.conf.d/05-live.conf
      mode: 0644
      contents:
        inline: |
          [Manager]
          DumpCore=false

passwd:
  users:
    - name: ${user}
      groups:
        - adm
        - sudo
        - systemd-journal
        - wheel