---
variant: fcos
version: 1.0.0
passwd:
  users:
    - name: ${p.client_user}
      uid: ${p.client_user_uid}
      %{~ if length(client_password) > 0 ~}
      password_hash: ${client_password}
      %{~ endif ~}
      groups:
        - adm
        - sudo
        - systemd-journal
        - wheel
systemd:
  units:
    - name: ${join("-", compact(split("/", replace(swap_device, "-", "\\x2d") )))}.swap
      enabled: true
      contents: |
        [Swap]
        What=${swap_device}

        [Install]
        WantedBy=local-fs.target