---
variant: fcos
version: 1.0.0
systemd:
  units:
    - name: systemd-networkd-wait-online.service
      mask: true
    - name: avahi-daemon.service
      enabled: true
    - name: avahi-daemon.socket
      enabled: true
    - name: NetworkManager.service
      enabled: true
    - name: NetworkManager-wait-online.service
      enabled: true
storage:
  files:
    - path: /etc/NetworkManager/conf.d/custom.conf
      mode: 0644
      contents:
        inline: |
          [main]
          no-auto-default=*
    %{~ for v in p.hwif ~}
    - path: /etc/NetworkManager/system-connections/${v.label}.nmconnection
      mode: 0600
      contents:
        inline: |
          [connection]
          interface-name=${v.if}
          type=802-3-ethernet

          [sriov]
          total-vfs=${v.numvfs}

          [802-3-ethernet]
          mtu=${lookup(v, "mtu", 9000)}

          # Kind of a hack to only specify unused ipv6 configuration
          # This brings up the interface with mtu and vfs without
          # adding ipv4 addresses
          [ipv4]
          method=disabled

          [ipv6]
          method=link-local
    %{~ endfor ~}
    %{~ for v in p.network ~}
    %{~ if lookup(v, "id", null) != null ~}
    - path: /etc/NetworkManager/system-connections/${v.label}.nmconnection
      mode: 0600
      contents:
        inline: |
          [connection]
          type=vlan
          %{~ if lookup(v, "disabled", false) ~}
          autoconnect=false
          %{~ endif ~}

          [vlan]
          parent=${p.hwif_by_key[v.hwif].if}
          id=${v.id}

          [ipv4]
          method=%{if lookup(v, "dhcp", false)}auto%{else}manual%{endif}
          %{~ if lookup(v, "ip", null) != null && lookup(v, "cidr", null) != null ~}
          addresses=${v.ip}/${v.cidr}
          %{~ endif ~}

          [ipv6]
          method=link-local
    %{~ endif ~}
    %{~ endfor ~}
    %{~ if length(wireguard_config) > 0 ~}
    - path: /etc/NetworkManager/system-connections/wireguard.nmconnection
      mode: 0600
      contents:
        inline: |
          [connection]
          type=wireguard
          interface-name=wg0

          [wireguard]
          private-key=${wireguard_config.Interface.PrivateKey}
          mtu=9000

          [wireguard-peer.${wireguard_config.Peer.PublicKey}]
          endpoint=${wireguard_config.Peer.Endpoint}
          allowed-ips=${wireguard_config.Peer.AllowedIPs}

          [ipv4]
          method=manual
          address=${wireguard_config.Interface.Address}
    %{~ endif ~}