---
variant: fcos
version: 1.0.0
systemd:
  units:
    - name: lm_sensors.service
      dropins:
        - name: 10-virtualization.conf
          contents: |
            [Unit]
            ConditionVirtualization=!vm
            ConditionVirtualization=!container
    - name: NetworkManager.service
      mask: true
    - name: NetworkManager-wait-online.service
      mask: true
    - name: systemd-networkd.service
      enabled: true
    - name: systemd-resolved.service
      enabled: true
    - name: fstrim.service
      enabled: true
      dropins:
        - name: 10-all.conf
          contents: |
            [Service]
            ExecStart=
            ExecStart=/usr/sbin/fstrim --all --verbose --quiet

storage:
  files:
    - path: /etc/hostname
      mode: 0644
      contents:
        inline:
          ${p.hostname}
    - path: /etc/sysctl.d/ipforward.conf
      mode: 0644
      contents:
        inline: |
          net.ipv4.ip_forward=1
          net.ipv4.ip_nonlocal_bind=1
    - path: /etc/sysctl.d/max-user-watches.conf
      mode: 0644
      contents:
        inline: |
          fs.inotify.max_user_watches=524288
    - path: /etc/modules-load.d/iscsi.conf
      mode: 0644
      contents:
        inline: |
          iscsi_tcp

    - path: /etc/systemd/journal.conf.d/05-live.conf
      mode: 0644
      contents:
        inline: |
          [Journal]
          Storage=volatile
          RuntimeMaxUse=15M
          ForwardToSyslog=no
          ForwardToConsole=no
    - path: /etc/systemd/resolved.conf.d/05-disable-stub.conf
      mode: 0644
      contents:
        inline: |
          [Resolve]
          FallbackDNS=
          DNSStubListener=no
          MulticastDNS=yes
    - path: /etc/systemd/system.conf.d/05-live.conf
      mode: 0644
      contents:
        inline: |
          [Manager]
          DumpCore=no
    ## Appending seems to override the earlier hosts entry
    - path: /etc/nsswitch.conf
      append:
        - inline: |
            hosts: files resolve dns myhostname