---
variant: fcos
version: 1.0.0
systemd:
  units:
    - name: containerd.service
      enabled: true
      dropins:
        - name: 10-killmode.conf
          contents: |
            [Service]
            KillMode=mixed

storage:
  files:
    - path: /etc/containerd/config.toml
      mode: 0644
      overwrite: true
      contents:
        inline: |-
          root = "/var/lib/containerd"
          state = "/run/containerd"
          oom_score = -999
          [plugins]
            version = 2
            [plugins."io.containerd.grpc.v1.cri"]
              disable_tcp_service = true
              stream_server_address = "127.0.0.1"
              stream_server_port = "0"
              [plugins."io.containerd.grpc.v1.cri".containerd]
                snapshotter = "overlayfs"
                default_runtime_name = "runc"
                [plugins."io.containerd.grpc.v1.cri".containerd.runtimes.runc]
                  runtime_type = "io.containerd.runc.v2"
                  [plugins."io.containerd.grpc.v1.cri".containerd.runtimes.runc.options]
                    NoPivotRoot = true
                    SystemdCgroup = true