---
variant: fcos
version: 1.0.0
systemd:
  units:
    - name: libvirtd.service
      mask: true
    - name: libvirtd.socket
      mask: true
    - name: containerd.service
      enabled: true
      dropins:
        - name: 10-killmode.conf
          contents: |
            [Service]
            KillMode=mixed
    - name: kubelet.service
      enabled: true
      contents: |
        [Unit]
        Description=Kubelet via Hyperkube
        After=network.target containerd.service
        Requires=containerd.service

        [Service]
        ExecStartPre=/bin/mkdir -p \
          ${kubelet_path} \
          /var/log/containers \
          /etc/cni/net.d \
          /opt/cni/bin
        ExecStart=/usr/bin/podman run --rm \
          --security-opt label=disable \
          --network host \
          --pid host \
          --privileged \
          -v /run:/run \
          -v /dev:/dev \
          -v /etc/ssl/certs:/etc/ssl/certs:ro \
          -v /etc/pki/ca-trust:/etc/pki/ca-trust:ro \
          -v /usr/lib/modules:/lib/modules:ro \
          -v /etc/machine-id:/etc/machine-id:ro \
          -v /usr/lib/os-release:/etc/os-release \
          -v /sys/fs/cgroup:/sys/fs/cgroup:ro \
          -v /sys/fs/cgroup/systemd:/sys/fs/cgroup/systemd \
          -v /var/lib/containerd:/var/lib/containerd \
          -v /opt/cni/bin:/opt/cni/bin:z \
          -v ${kubelet_path}:${kubelet_path}:rshared,z \
          -v /var/log:/var/log \
          -v /var/run/lock:/var/run/lock:z \
          ${container_images.kubelet} \
            kubelet \
              --config=${kubelet_path}/kubelet-config-common.yaml \
              --register-node=false \
              --exit-on-lock-contention \
              --lock-file=/var/run/lock/kubelet.lock \
              --container-runtime=remote \
              --container-runtime-endpoint=unix:///run/containerd/containerd.sock
        Restart=always
        RestartSec=10
        Delegate=yes

        [Install]
        WantedBy=multi-user.target

storage:
  files:
    - path: /etc/containerd/config.toml
      mode: 0644
      overwrite: true
      contents:
        inline: |-
          root = "/var/lib/containerd"
          state = "/run/containerd"
          oom_score = -999
          [plugins]
            version = 2
            [plugins."io.containerd.grpc.v1.cri"]
              disable_tcp_service = true
              stream_server_address = "127.0.0.1"
              stream_server_port = "0"
              [plugins."io.containerd.grpc.v1.cri".containerd]
                snapshotter = "overlayfs"
                default_runtime_name = "runc"
                [plugins."io.containerd.grpc.v1.cri".containerd.runtimes.runc]
                  runtime_type = "io.containerd.runc.v2"
                  [plugins."io.containerd.grpc.v1.cri".containerd.runtimes.runc.options]
                    NoPivotRoot = true
                    SystemdCgroup = true
    - path: ${kubelet_path}/kubelet-config-common.yaml
      mode: 0644
      contents:
        inline: |-
          kind: KubeletConfiguration
          apiVersion: kubelet.config.k8s.io/v1beta1
          authentication:
            anonymous:
              enabled: true
            webhook:
              enabled: false
          authorization:
            mode: AlwaysAllow
          staticPodPath: ${kubelet_path}/manifests
          makeIPTablesUtilChains: false
          cgroupDriver: systemd