---
variant: fcos
version: 1.0.0
storage:
  files:
    ##
    ## certs
    ##

    - path: ${controller_mount_path}/kubernetes-ca.pem
      mode: 0644
      contents:
        inline: "${tls_kubernetes_ca}"
    - path: ${controller_mount_path}/kubernetes-ca-key.pem
      mode: 0644
      contents:
        inline: "${tls_kubernetes_ca_key}"
    - path: ${controller_mount_path}/kubernetes.pem
      mode: 0644
      contents:
        inline: "${tls_kubernetes}"
    - path: ${controller_mount_path}/kubernetes-key.pem
      mode: 0644
      contents:
        inline: "${tls_kubernetes_key}"

    - path: ${controller_mount_path}/etcd-ca.pem
      mode: 0644
      contents:
        inline: "${tls_etcd_ca}"
    - path: ${controller_mount_path}/etcd.pem
      mode: 0644
      contents:
        inline: "${tls_etcd}"
    - path: ${controller_mount_path}/etcd-key.pem
      mode: 0644
      contents:
        inline: "${tls_etcd_key}"
    - path: ${controller_mount_path}/etcd-client.pem
      mode: 0644
      contents:
        inline: "${tls_etcd_client}"
    - path: ${controller_mount_path}/etcd-client-key.pem
      mode: 0644
      contents:
        inline: "${tls_etcd_client_key}"

    - path: ${controller_mount_path}/kube-controller-manager.pem
      mode: 0644
      contents:
        inline: "${tls_controller_manager}"
    - path: ${controller_mount_path}/kube-controller-manager-key.pem
      mode: 0644
      contents:
        inline: "${tls_controller_manager_key}"
    - path: ${controller_mount_path}/kube-scheduler.pem
      mode: 0644
      contents:
        inline: "${tls_scheduler}"
    - path: ${controller_mount_path}/kube-scheduler-key.pem
      mode: 0644
      contents:
        inline: "${tls_scheduler_key}"

    - path: ${controller_mount_path}/service-account.pem
      mode: 0644
      contents:
        inline: "${tls_service_account}"
    - path: ${controller_mount_path}/service-account-key.pem
      mode: 0644
      contents:
        inline: "${tls_service_account_key}"

    ##
    ## pod config
    ##

    - path: ${controller_mount_path}/kube-scheduler.yaml
      mode: 0644
      contents:
        inline: |-
          apiVersion: kubescheduler.config.k8s.io/v1alpha1
          kind: KubeSchedulerConfiguration
          clientConnection:
            kubeconfig: "${controller_mount_path}/kube-scheduler.kubeconfig"
          leaderElection:
            leaderElect: true

    - path: ${controller_mount_path}/kube-controller-manager.kubeconfig
      mode: 0644
      contents:
        inline: |-
          apiVersion: v1
          clusters:
          - cluster:
              certificate-authority: ${controller_mount_path}/kubernetes-ca.pem
              server: ${apiserver_local_endpoint}
            name: ${cluster_name}
          contexts:
          - context:
              cluster: ${cluster_name}
              user: system:kube-controller-manager
            name: default
          current-context: default
          kind: Config
          preferences: {}
          users:
          - name: system:kube-controller-manager
            user:
              client-certificate: ${controller_mount_path}/kube-controller-manager.pem
              client-key: ${controller_mount_path}/kube-controller-manager-key.pem

    - path: ${controller_mount_path}/kube-scheduler.kubeconfig
      mode: 0644
      contents:
        inline: |-
          apiVersion: v1
          clusters:
          - cluster:
              certificate-authority: ${controller_mount_path}/kubernetes-ca.pem
              server: ${apiserver_local_endpoint}
            name: ${cluster_name}
          contexts:
          - context:
              cluster: ${cluster_name}
              user: system:kube-scheduler
            name: default
          current-context: default
          kind: Config
          preferences: {}
          users:
          - name: system:kube-scheduler
            user:
              client-certificate: ${controller_mount_path}/kube-scheduler.pem
              client-key: ${controller_mount_path}/kube-scheduler-key.pem

    - path: ${pod_mount_path}/keepalived/keepalived.conf
      mode: 0644
      contents:
        inline: |-
          global_defs {
            vrrp_version 3
            vrrp_iptables
            dynamic_interfaces allow_if_changes
          }
          vrrp_instance VI_kube-master_main {
            nopreempt
            state BACKUP
            strict_mode off
            virtual_router_id ${vrrp_id}
            interface ${p.networks_by_key.main.if}
            priority 100
            virtual_ipaddress {
              ${services.kubernetes_apiserver.vip}
            }
          }

    ##
    ## pod manifests
    ##

    - path: ${kubelet_path}/manifests/etcd-wrapper.yaml
      mode: 0644
      contents:
        inline: |-
          ---
          kind: Pod
          apiVersion: v1
          metadata:
            namespace: kube-system
            name: kube-etcd
          spec:
            hostNetwork: true
            restartPolicy: Always
            containers:
            - name: kube-etcd-wrapper
              image: ${container_images.etcd_wrapper}
              args:
              - "--name=$(NODE_NAME)"
              - "--host-cert-file=${controller_mount_path}/etcd.pem"
              - "--host-key-file=${controller_mount_path}/etcd-key.pem"
              - "--host-trusted-ca-file=${controller_mount_path}/etcd-ca.pem"
              - "--host-peer-cert-file=${controller_mount_path}/etcd.pem"
              - "--host-peer-key-file=${controller_mount_path}/etcd-key.pem"
              - "--host-peer-trusted-ca-file=${controller_mount_path}/etcd-ca.pem"
              - "--initial-advertise-peer-urls=https://$(INTERNAL_IP):${services.etcd.ports.peer}"
              - "--listen-peer-urls=https://$(INTERNAL_IP):${services.etcd.ports.peer}"
              - "--listen-client-urls=${etcd_local_endpoint},https://$(INTERNAL_IP):${services.etcd.ports.client}"
              - "--advertise-client-urls=https://$(INTERNAL_IP):${services.etcd.ports.client}"
              - "--initial-cluster=${etcd_initial_cluster}"
              - "--initial-cluster-token=${etcd_cluster_token}"
              - "--etcd-servers=${etcd_endpoints}"
              - "--host-backup-file=${pod_mount_path}/etcd/etcd.db"
              - "--host-etcd-manifest-file=${kubelet_path}/manifests/kube-etcd.json"
              - "--etcd-image=${container_images.etcd}"
              - "--client-cert-file=${controller_mount_path}/etcd-client.pem"
              - "--client-key-file=${controller_mount_path}/etcd-client-key.pem"
              - "--s3-backup-path=${s3_etcd_backup_path}"
              - "--backup-interval=30m"
              - "--healthcheck-interval=10s"
              - "--pod-update-interval=1m"
              env:
              - name: AWS_ACCESS_KEY_ID
                value: "${aws_access_key_id}"
              - name: AWS_SECRET_ACCESS_KEY
                value: "${aws_secret_access_key}"
              - name: AWS_DEFAULT_REGION
                value: "${aws_region}"
              - name: AWS_SDK_LOAD_CONFIG
                value: "1"
              - name: INTERNAL_IP
                valueFrom:
                  fieldRef:
                    fieldPath: status.hostIP
              - name: NODE_NAME
                valueFrom:
                  fieldRef:
                    fieldPath: spec.nodeName
              volumeMounts:
              - name: config-volume
                mountPath: "${controller_mount_path}"
                readOnly: true
              - name: etcd-restore-volume
                mountPath: "${pod_mount_path}/etcd"
              - name: manifest-volume
                mountPath: "${kubelet_path}/manifests/kube-etcd.json"
            volumes:
            - name: config-volume
              hostPath:
                path: "${controller_mount_path}"
            - name: etcd-restore-volume
              hostPath:
                path: "${pod_mount_path}/etcd"
            - name: manifest-volume
              hostPath:
                type: FileOrCreate
                path: "${kubelet_path}/manifests/kube-etcd.json"

    - path: ${kubelet_path}/manifests/kube-apiserver.yaml
      mode: 0644
      contents:
        inline: |-
          ---
          kind: Pod
          apiVersion: v1
          metadata:
            namespace: kube-system
            name: kube-apiserver
          spec:
            hostNetwork: true
            restartPolicy: Always
            containers:
            - name: kube-apiserver
              image: ${container_images.kube_apiserver}
              command:
              - kube-apiserver
              - "--secure-port=${services.kubernetes_apiserver.ports.secure}"
              - "--allow-privileged=true"
              - "--authorization-mode=Node,RBAC"
              - "--bind-address=0.0.0.0"
              - "--client-ca-file=${controller_mount_path}/kubernetes-ca.pem"
              - "--etcd-cafile=${controller_mount_path}/etcd-ca.pem"
              - "--etcd-certfile=${controller_mount_path}/etcd-client.pem"
              - "--etcd-keyfile=${controller_mount_path}/etcd-client-key.pem"
              - "--etcd-servers=${etcd_local_endpoint}"
              - "--kubelet-certificate-authority=${controller_mount_path}/kubernetes-ca.pem"
              - "--kubelet-client-certificate=${controller_mount_path}/kubernetes.pem"
              - "--kubelet-client-key=${controller_mount_path}/kubernetes-key.pem"
              - "--runtime-config=api/all=true"
              - "--service-account-key-file=${controller_mount_path}/service-account.pem"
              - "--service-account-max-token-expiration=24h"
              - "--service-cluster-ip-range=${networks.kubernetes_service.network}/${networks.kubernetes_service.cidr}"
              - "--tls-cert-file=${controller_mount_path}/kubernetes.pem"
              - "--tls-private-key-file=${controller_mount_path}/kubernetes-key.pem"
              - "--kubelet-preferred-address-types=InternalDNS,InternalIP"
              - "--enable-admission-plugins=NamespaceLifecycle,LimitRanger,ServiceAccount,DefaultStorageClass,DefaultTolerationSeconds,MutatingAdmissionWebhook,ValidatingAdmissionWebhook,Priority,ResourceQuota,PodSecurityPolicy,NodeRestriction"
              - "--v=2"
              volumeMounts:
              - name: config-apiserver
                mountPath: "${controller_mount_path}"
                readOnly: true
              livenessProbe:
                httpGet:
                  scheme: HTTP
                  host: 127.0.0.1
                  port: 8080
                  path: "/healthz"
                initialDelaySeconds: 15
                timeoutSeconds: 15
            - name: keepalived
              image: ${container_images.keepalived}
              securityContext:
                capabilities:
                  add:
                  - NET_ADMIN
              args: [ "-P", "-D", "-f", "/etc/keepalived/keepalived.conf" ]
              livenessProbe:
                httpGet:
                  scheme: HTTP
                  host: 127.0.0.1
                  port: 8080
                  path: "/healthz"
                initialDelaySeconds: 15
                timeoutSeconds: 15
              volumeMounts:
              - name: config-keepalived
                mountPath: /etc/keepalived/keepalived.conf
                readOnly: true
            volumes:
            - name: config-apiserver
              hostPath:
                path: "${controller_mount_path}"
            - name: config-keepalived
              hostPath:
                path: ${pod_mount_path}/keepalived/keepalived.conf

    - path: ${kubelet_path}/manifests/kube-controller-manager.yaml
      mode: 0644
      contents:
        inline: |-
          ---
          kind: Pod
          apiVersion: v1
          metadata:
            namespace: kube-system
            name: kube-controller-manager
          spec:
            hostNetwork: true
            restartPolicy: Always
            containers:
            - name: kube-controller-manager
              image: ${container_images.kube_controller_manager}
              command:
              - kube-controller-manager
              - "--address=0.0.0.0"
              - "--cluster-cidr=${networks.kubernetes.network}/${networks.kubernetes.cidr}"
              - "--allocate-node-cidrs=true"
              - "--cluster-name=${cluster_name}"
              - "--cluster-signing-cert-file=${controller_mount_path}/kubernetes-ca.pem"
              - "--cluster-signing-key-file=${controller_mount_path}/kubernetes-ca-key.pem"
              - "--kubeconfig=${controller_mount_path}/kube-controller-manager.kubeconfig"
              - "--leader-elect=true"
              - "--root-ca-file=${controller_mount_path}/kubernetes-ca.pem"
              - "--service-account-private-key-file=${controller_mount_path}/service-account-key.pem"
              - "--service-cluster-ip-range=${networks.kubernetes_service.network}/${networks.kubernetes_service.cidr}"
              - "--use-service-account-credentials=true"
              - "--v=2"
              volumeMounts:
              - name: config-volume
                mountPath: "${controller_mount_path}"
                readOnly: true
              livenessProbe:
                httpGet:
                  scheme: HTTP
                  host: 127.0.0.1
                  port: 10252
                  path: "/healthz"
                initialDelaySeconds: 15
                timeoutSeconds: 15
            volumes:
            - name: config-volume
              hostPath:
                path: "${controller_mount_path}"

    - path: ${kubelet_path}/manifests/kube-scheduler.yaml
      mode: 0644
      contents:
        inline: |-
          ---
          kind: Pod
          apiVersion: v1
          metadata:
            namespace: kube-system
            name: kube-scheduler
          spec:
            restartPolicy: Always
            hostNetwork: true
            containers:
            - name: kube-scheduler
              image: ${container_images.kube_scheduler}
              command:
              - kube-scheduler
              - "--config=${controller_mount_path}/kube-scheduler.yaml"
              - "--v=2"
              livenessProbe:
                httpGet:
                  scheme: HTTP
                  host: 127.0.0.1
                  port: 10251
                  path: "/healthz"
                initialDelaySeconds: 15
                timeoutSeconds: 15
              volumeMounts:
              - name: config-volume
                mountPath: "${controller_mount_path}"
                readOnly: true
            volumes:
            - name: config-volume
              hostPath:
                path: "${controller_mount_path}"