---
variant: fcos
version: 1.0.0
systemd:
  units:
    - name: libvirtd.service
      enabled: true
    - name: ksm.service
      enabled: true
    - name: ksmtuned.service
      enabled: true

storage:
  files:
    - path: /etc/systemd/network/90-default.network
      mode: 0644
      contents:
        inline: |
          [Match]
          Name=en*

          [Link]
          ARP=no

          [Network]
          LinkLocalAddressing=no
          DHCP=no
    - path: /etc/systemd/network/80-wl.network
      mode: 0644
      contents:
        inline: |
          [Match]
          Name=wl*

          [Link]
          Unmanaged=true

    ##
    ## certs
    ##
    - path: ${internal_tls_path}/internal-ca.pem
      mode: 0644
      contents:
        inline: "${tls_internal_ca}"

    ##
    ## misc config
    ##
    - path: /etc/mpv/mpv.conf
      mode: 0644
      overwrite: true
      contents:
        inline: |
          hwdec=vaapi
    - path: /etc/pulse/daemon.conf
      append:
        - inline: |
            default-sample-format = float32le
            default-sample-rate = 48000
            alternate-sample-rate = 192000
            resample-method = soxr-vhq
            high-priority = yes
            nice-level = -11
            realtime-scheduling = yes
            realtime-priority = 9
            rlimit-rtprio = 9
            daemonize = no

passwd:
  users:
    - name: ${user}
      uid: ${uid}
      password_hash: ${bcrypt(password)}
      groups:
        - libvirt