---
variant: fcos
version: 1.0.0
systemd:
  units:
    - name: default-dconf-update.service
      enabled: true
      contents: |
        [Unit]
        ConditionFirstBoot=true
        ConditionDirectoryNotEmpty=/etc/dconf/db/local.d/

        [Service]
        Type=oneshot
        RemainAfterExit=true
        ExecStart=/usr/bin/dconf update

        [Install]
        WantedBy=graphical.target
storage:
  files:
    ##
    ## misc configs
    ## add to global paths - persistent home directory is mounted afterwards
    ##
    - path: /etc/tmux.conf
      mode: 0644
      contents:
        inline: |
          set -g mouse on
          set-option -s set-clipboard off
          bind-key -T copy-mode MouseDragEnd1Pane send-keys -X copy-pipe-and-cancel "xclip -in -sel clip"
    - path: /etc/mpv/mpv.conf
      mode: 0644
      contents:
        inline: |
          profile=gpu-hq
          hwdec=vaapi
    - path: /etc/pulse/daemon.conf
      append:
        - inline: |
            default-sample-format = float32le
            default-sample-rate = 48000
            alternate-sample-rate = 44100
            resample-method = soxr-vhq
            high-priority = yes
            nice-level = -11
            realtime-scheduling = yes
            realtime-priority = 9
            rlimit-rtprio = 9
            daemonize = no
    - path: /etc/udev/rules.d/62-steam-input.rules
      mode: 0644
      contents:
        inline: |
          ${indent(10, udev_steam_input)}
    - path: /etc/udev/rules.d/62-steam-vr.rules
      mode: 0644
      contents:
        inline: |
          ${indent(10, udev_steam_vr)}
    - path: /etc/environment
      append:
        - inline: |
            RADV_PERFTEST=aco

    ##
    ## gnome desktop config
    ##
    - path: /etc/dconf/db/local.d/00-custom
      mode: 0644
      contents:
        inline: |
          [org/gnome/system/location]
          enabled=true

          [org/gnome/desktop/datetime]
          automatic-timezone=true

          [org/gnome/settings-daemon/plugins/color]
          night-light-enabled=true
          night-light-schedule-automatic=true

          [org/gnome/settings-daemon/plugins/power]
          ambient-enabled=false
          idle-dim=false

          [org/gnome/desktop/media-handling]
          automount=false
          autorun-never=true

          [org/gnome/desktop/sound]
          event-sounds=false

          [org/gnome/desktop/session]
          idle-delay=uint32 3600

          [org/gnome/desktop/peripherals/touchpad]
          tap-to-click=true
          two-finger-scrolling-enabled=true

          [org/gnome/desktop/privacy]
          disable-camera=true
          disable-microphone=true
          old-files-age=uint32 1
          remember-recent-files=false
          remove-old-temp-files=true
          remove-old-trash-files=true
          report-technical-problems=false

          [org/gnome/software]
          first-run=false
          show-nonfree-prompt=false

          [org/gnome/desktop/notifications]
          show-in-lock-screen=false

          [org/gnome/desktop/interface]
          enable-hot-corners=false
    - path: /etc/firefox/pref/autoconfig.js
      mode: 0644
      contents:
        inline: |
          pref("general.config.filename", "mozilla.cfg");
          pref("general.config.obscure_value", 0);

          pref("browser.startup.homepage", "about:blank");
          pref("browser.startup.page", 3);

          pref("browser.cache.disk.enable", false);
          pref("browser.cache.memory.enable", true);
          pref("browser.sessionstore.interval", 300000);
          pref("layers.acceleration.force-enabled", true);
          pref("gfx.webrender.all", true);
          pref("gfx.webrender.enabled", true);
          pref("gfx.font_rendering.cleartype_params.pixel_structure", 2);
          pref("widget.wayland-dmabuf-vaapi.enabled", true);

          pref("browser.safebrowsing.malware.enabled", false);
          pref("browser.safebrowsing.phishing.enabled", false);
          pref("extensions.pocket.enabled", false);
          pref("privacy.resistFingerprinting", true);
          pref("privacy.trackingprotection.enabled", true);
          pref("toolkit.telemetry.enabled", false);
          pref("network.trr.mode", 0);
          pref("signon.rememberSignons", false);
    # Shadow PC client display workaround
    # https://gitlab.com/NicolasGuilloux/shadow-live-os/raw/arch-master/airootfs/etc/drirc
    - path: /etc/drirc
      mode: 0644
      contents:
        inline: |
          <driconf>
            <device driver="radeonsi">
              <application name="Shadow" executable="Shadow">
                <option name="allow_rgb10_configs" value="false" />
                <option name="radeonsi_clear_db_cache_before_clear" value="true" />
              </application>
            </device>
            <device driver="radeon">
              <application name="Shadow" executable="Shadow">
                <option name="allow_rgb10_configs" value="false" />
              </application>
            </device>
            <device driver="iris">
              <application name="Shadow" executable="Shadow">
                <option name="allow_rgb10_configs" value="false" />
              </application>
            </device>
          </driconf>