---
variant: fcos
version: 1.0.0
systemd:
  units:
    - name: libvirtd.service
      enabled: true
    - name: ksm.service
      enabled: true
    - name: ksmtuned.service
      enabled: true
    - name: avahi-daemon.service
      mask: true
    - name: avahi-daemon.socket
      mask: true
    - name: default-dconf-update.service
      enabled: true
      contents: |
        [Unit]
        ConditionFirstBoot=true
        ConditionDirectoryNotEmpty=/etc/dconf/db/local.d/

        [Service]
        ExecStart=/usr/bin/dconf update
        Type=oneshot
        RemainAfterExit=yes

        [Install]
        WantedBy=graphical.target

storage:
  files:
    - path: /etc/systemd/network/90-default.network
      mode: 0644
      contents:
        inline: |
          [Match]
          Name=en*

          [Link]
          ARP=no
          RequiredForOnline=no

          [Network]
          LinkLocalAddressing=no
          DHCP=no
    - path: /etc/systemd/network/80-wl.network
      mode: 0644
      contents:
        inline: |
          [Match]
          Name=wl*

          [Link]
          Unmanaged=true
          RequiredForOnline=no

    ##
    ## misc configs
    ## add to global paths - persistent home directory is mounted afterwards
    ##
    - path: /etc/tmux.conf
      mode: 0644
      contents:
        inline: |
          set -g mouse on
          set-option -s set-clipboard off
          bind-key -T copy-mode MouseDragEnd1Pane send-keys -X copy-pipe-and-cancel "xclip -in -sel clip"
    - path: /etc/mpv/mpv.conf
      mode: 0644
      contents:
        inline: |
          profile=gpu-hq
          hwdec=vaapi
    - path: /etc/pulse/daemon.conf
      append:
        - inline: |
            default-sample-format = float32le
            default-sample-rate = 48000
            alternate-sample-rate = 192000
            resample-method = soxr-vhq
            high-priority = yes
            nice-level = -11
            realtime-scheduling = yes
            realtime-priority = 9
            rlimit-rtprio = 9
            daemonize = no
    - path: /etc/udev/rules.d/60-steam-input.rules
      mode: 0644
      contents:
        inline: |
          ${indent(10, udev_steam_input)}
    - path: /etc/udev/rules.d/60-steam-vr.rules
      mode: 0644
      contents:
        inline: |
          ${indent(10, udev_steam_vr)}
    - path: /etc/dconf/db/local.d/00-custom
      mode: 0644
      contents:
        inline: |
          [org/gnome/system/location]
          enabled=true

          [org/gnome/desktop/datetime]
          automatic-timezone=true

          [org/gnome/settings-daemon/plugins/color]
          night-light-enabled=true
          night-light-schedule-automatic=true

          [org/gnome/desktop/media-handling]
          automount=false
          autorun-never=true

          [org/gnome/desktop/sound]
          event-sounds=false

          [org/gnome/desktop/session]
          idle-delay=uint32 3600

          [org/gnome/desktop/privacy]
          old-files-age=uint32 1
          remember-recent-files=false
          remove-old-temp-files=true
          remove-old-trash-files=true

          [org/gnome/software]
          first-run=false
          show-nonfree-prompt=false

          [org/gnome/desktop/notifications]
          show-in-lock-screen=false

          [org/gnome/desktop/interface]
          enable-hot-corners=false

passwd:
  users:
    - name: ${user}
      uid: ${uid}
      password_hash: ${bcrypt(password)}
      groups:
        - libvirt