---
variant: fcos
version: 1.0.0
systemd:
  units:
    - name: powertop.service
      enabled: true
      contents: |
        [Unit]
        ConditionPathExists=/var/cache/powertop/saved_parameters.powertop
        ConditionPathExists=/var/cache/powertop/saved_results.powertop

        [Service]
        Type=oneshot
        RemainAfterExit=true
        ExecStart=/usr/sbin/powertop --auto-tune

        [Install]
        WantedBy=multi-user.target
storage:
  files:
    %{~ for f in [
      "/var/cache/powertop/saved_parameters.powertop",
      "/var/cache/powertop/saved_resultss.powertop"
    ] ~}
    %{~ if fileexists(f) ~}
    - path: ${f}
      mode: 0644
      contents:
        inline: |
          ${indent(10, file(f))}
    %{~ endif ~}
    %{~ endfor ~}