---
variant: fcos
version: 1.0.0
systemd:
  units:
    - name: ${join("-", compact(split("/", replace(swap_device, "-", "\\x2d") )))}.swap
      enabled: true
      contents: |
        [Unit]
        ConditionVirtualization=!vm
        ConditionVirtualization=!container
        ConditionPathExists=${swap_device}
        ConditionKernelCommandLine=resume

        [Swap]
        What=${swap_device}
        TimeoutSec=10s

        [Install]
        WantedBy=local-fs.target
    - name: powertop.service
      enabled: true
      contents: |
        [Unit]
        ConditionVirtualization=!vm
        ConditionVirtualization=!container
        ConditionFileNotEmpty=/var/cache/powertop/saved_parameters.powertop
        ConditionFileNotEmpty=/var/cache/powertop/saved_results.powertop

        [Service]
        Type=oneshot
        RemainAfterExit=true
        ExecStart=/usr/sbin/powertop --auto-tune

        [Install]
        WantedBy=multi-user.target
storage:
  files:
    %{~ for f in [
      "/var/cache/powertop/saved_parameters.powertop",
      "/var/cache/powertop/saved_results.powertop"
    ] ~}
    %{~ if fileexists(f) ~}
    - path: ${f}
      mode: 0644
      contents:
        inline: |
          ${indent(10, file(f))}
    %{~ endif ~}
    %{~ endfor ~}