---
variant: fcos
version: 1.0.0
storage:
  files:
    ##
    ## allocate vlan interfaces to hardware
    ##
    - path: /etc/systemd/network/05-${host_network.en-pf.if}.link
      mode: 0644
      contents:
        inline: |
          [Match]
          PermanentMACAddress=${host_network.en-pf.mac}

          [Link]
          MACAddressPolicy=persistent
          Name=${host_network.en-pf.if}
          MTUBytes=${mtu}

    - path: /etc/systemd/network/10-${host_network.en-pf.if}.network
      mode: 0644
      contents:
        inline: |
          [Match]
          Name=${host_network.en-pf.if}
          MACAddress=${host_network.en-pf.mac}

          [Link]
          ARP=no

          [Network]
          LinkLocalAddressing=no
          DHCP=no
          %{~ for k in vlans ~}
          VLAN=${networks[k].br_if}
          %{~ endfor ~}

    %{~ for k in vlans ~}
    ##
    ## vlan ${k}
    ##
    - path: /etc/systemd/network/10-${networks[k].br_if}.netdev
      mode: 0644
      contents:
        inline: |
          [NetDev]
          Name=${networks[k].br_if}
          Kind=vlan

          [VLAN]
          Id=${networks[k].id}

    %{~ if lookup(host_network, k, null) != null ~}
    - path: /etc/systemd/network/10-${networks[k].br_if}-${host_network.en-pf.mac}.network
      mode: 0644
      contents:
        inline: |
          [Match]
          Name=${networks[k].br_if}
          MACAddress=${host_network.en-pf.mac}

          [Link]
          ARP=no
          MTUBytes=${mtu}

          [Network]
          LinkLocalAddressing=no
          DHCP=no
          MACVTAP=${networks[k].br_if}-tap

    - path: /etc/systemd/network/10-${networks[k].br_if}-tap.netdev
      mode: 0644
      contents:
        inline: |
          [NetDev]
          Name=${networks[k].br_if}-tap
          Kind=macvtap

          [MACVTAP]
          Mode=bridge

    - path: /etc/systemd/network/10-${networks[k].br_if}-tap.network
      mode: 0644
      contents:
        inline: |
          [Match]
          Name=${networks[k].br_if}-tap

          [Link]
          RequiredForOnline=no

          [Network]
          LinkLocalAddressing=no
          DHCP=yes
          MulticastDNS=yes

          [Address]
          Address=${host_network[k].ip}/${networks[k].cidr}

    %{~ endif ~}
    %{~ endfor ~}