---
variant: fcos
version: 1.0.0
storage:
  files:
    - path: /etc/pulse/default.pa
      append:
        - inline: |
            load-module module-native-protocol-tcp auth-ip-acl=127.0.0.1;${p.networks_by_key.lan.network}/${p.networks_by_key.lan.cidr}
            load-module module-zeroconf-publish