---
variant: fcos
version: 1.0.0
systemd:
  units:
    - name: sshd.service
      enabled: true

storage:
  files:
    - path: /etc/ssh/sshd_config.d/30-host-certificate.conf
      mode: 0644
      contents:
        inline: |
          HostKey /etc/ssh/ssh_host_ecdsa_key
          HostCertificate /etc/ssh/ssh_host_ecdsa_key-cert.pub
    - path: /etc/ssh/ssh_host_ecdsa_key
      mode: 0600
      contents:
        inline: "${ssh_host_private_key}"
    - path: /etc/ssh/ssh_host_ecdsa_key.pub
      mode: 0600
      contents:
        inline: "${ssh_host_public_key}"
    - path: /etc/ssh/ssh_host_ecdsa_key-cert.pub
      mode: 0600
      contents:
        inline: "${ssh_host_certificate}"
    # Read ssh authorized keys file created by ignition
    - path: /etc/ssh/sshd_config.d/22-custom.conf
      mode: 0644
      contents:
        inline: |
          PasswordAuthentication no
          AuthorizedKeysFile .ssh/authorized_keys .ssh/authorized_keys.d/ignition .ssh/authorized_keys.d/afterburn

passwd:
  users:
    - name: ${user}
      ssh_authorized_keys:
        - cert-authority ${ssh_ca_authorized_key}