---
variant: fcos
version: 1.0.0
systemd:
  units:
    %{~ for disk in p.disk ~}
    %{~ if lookup(disk, "mount_path", null) != null && lookup(disk, "device", null) != null ~}
    - name: ${join("-", compact(split("/", disk.mount_path)))}.mount
      enabled: true
      contents: |
        [Unit]
        Before=local-fs.target
        [Mount]
        What=${disk.device}
        Where=${disk.mount_path}
        Type=${lookup(disk, "format", "xfs")}
        [Install]
        WantedBy=local-fs.target
    %{~ endif ~}
    %{~ endfor ~}

storage:
  filesystems:
    %{~ for disk in p.disk ~}
    %{~ if lookup(disk, "mount_path", null) != null && lookup(disk, "device", null) != null ~}
    - path: ${disk.mount_path}
      device: ${disk.device}
      format: ${lookup(disk, "format", "xfs")}
      wipe_filesystem: ${lookup(disk, "wipe_filesystem", false)}
      %{~ if lookup(disk, "label", null) != null ~}
      label: ${upper(disk.label)}
      %{~ endif ~}
    %{~ endif ~}
    %{~ endfor ~}