---
variant: fcos
version: 1.0.0
storage:
  files:
    - path: /etc/systemd/network/20-${wireguard_if}.netdev
      mode: 0600
      user:
        name: systemd-network
      contents:
        inline: |
          [NetDev]
          Name=${wireguard_if}
          Kind=wireguard

          [WireGuard]
          PrivateKey=${wireguard_config.Interface.PrivateKey}

          [WireGuardPeer]
          PublicKey=${wireguard_config.Peer.PublicKey}
          %{~ for k in split(",", wireguard_config.Peer.AllowedIPs) ~}
          AllowedIPs=${trimspace(k)}
          %{~ endfor ~}
          Endpoint=${wireguard_config.Peer.Endpoint}
          PersistentKeepalive=25
    - path: /etc/systemd/network/20-${wireguard_if}.network
      mode: 0600
      user:
        name: systemd-network
      contents:
        inline: |
          [Match]
          Name=${wireguard_if}

          [Link]
          RequiredForOnline=no

          [Network]
          DefaultRouteOnDevice=yes
          %{~ for k in split(",", wireguard_config.Interface.Address) ~}
          Address=${trimspace(k)}
          %{~ endfor ~}