---
networkd:
  units:
    - name: {{.host_if}}.network
      contents: |
        [Match]
        Name={{.host_if}}

        [Network]
        LinkLocalAddressing=no
        DHCP=yes

        [DHCP]
        UseMTU=yes
    - name: {{.ll_if}}.network
      contents: |
        [Match]
        Name={{.ll_if}}

        [Link]
        MTUBytes={{.mtu}}
        RequiredForOnline=no

        [Network]
        LinkLocalAddressing=yes
        DHCP=no

systemd:
  units:
    - name: pv.mount
      enable: true
      contents: |
        [Unit]
        Before=local-fs.target
        [Mount]
        What=/dev/sda
        Where=/pv
        Type=ext4
        [Install]
        WantedBy=local-fs.target

    - name: docker.service
      mask: true
    - name: docker.socket
      mask: true
    - name: containerd.service
      enabled: true
      dropins:
        - name: containerd.conf
          contents: |
            [Unit]
            After=pv.mount
            Requires=pv.mount

            [Service]
            LimitNOFILE=infinity
            ExecStart=
            ExecStart=/usr/bin/env PATH=${TORCX_BINDIR}:${PATH} ${TORCX_BINDIR}/containerd
            RestartSec=5
    - name: kubelet.service
      enabled: true
      contents: |
        [Unit]
        Description=Kubelet via Hyperkube ACI
        After=network.target
        After=pv.mount
        Requires=pv.mount

        [Service]
        Environment="KUBELET_IMAGE=docker://{{.kubelet_image}}"
        Environment="RKT_RUN_ARGS=--uuid-file-save=/var/cache/kubelet-pod.uuid \
          --volume=resolv,kind=host,source=/etc/resolv.conf \
          --volume var-lib-containerd,kind=host,source=/pv/containerd,readOnly=false \
          --mount volume=resolv,target=/etc/resolv.conf \
          --mount volume=var-lib-containerd,target=/var/lib/containerd \
          --insecure-options=image"
        ExecStartPre=/bin/mkdir -p \
          /var/log/containers \
          /etc/cni/net.d
        ExecStartPre=-/usr/bin/rkt rm --uuid-file=/var/cache/kubelet-pod.uuid
        ExecStart=/usr/lib/coreos/kubelet-wrapper \
          --config={{.kubelet_path}}/kubelet-config.yaml \
          --kubeconfig={{.kubelet_path}}/kubelet.kubeconfig \
          --bootstrap-kubeconfig={{.kubelet_path}}/bootstrap.kubeconfig \
          --network-plugin=cni \
          --cert-dir={{.kubelet_path}} \
          --volume-plugin-dir={{.kubelet_path}}/volumeplugins \
          --container-runtime=remote \
          --container-runtime-endpoint=unix:///run/containerd/containerd.sock
        ExecStop=-/usr/bin/rkt stop --uuid-file=/var/cache/kubelet-pod.uuid
        Restart=always
        RestartSec=5

        [Install]
        WantedBy=multi-user.target

storage:
  filesystems:
    - name: pvcontainer
      mount:
        device: /dev/sda
        format: ext4
        wipeFilesystem: false
        label: PVCONTAINER
  files:
    - path: /etc/hostname
      filesystem: root
      mode: 0644
      contents:
        inline:
          {{.hostname}}
    - path: /etc/sysctl.d/max-user-watches.conf
      filesystem: root
      mode: 0644
      contents:
        inline: |
          fs.inotify.max_user_watches=16184

    - path: {{.kubelet_path}}/ca.pem
      filesystem: root
      mode: 420
      contents:
        inline: "{{.tls_ca}}"
    - path: {{.kubelet_path}}/bootstrap.pem
      filesystem: root
      mode: 420
      contents:
        inline: "{{.tls_bootstrap}}"
    - path: {{.kubelet_path}}/bootstrap-key.pem
      filesystem: root
      mode: 420
      contents:
        inline: "{{.tls_bootstrap_key}}"

    - path: /etc/containerd/config.toml
      filesystem: root
      mode: 420
      contents:
        inline: |-
          root = "/pv/containerd"
          subreaper = true
          oom_score = -999
          [plugins]
            [plugins.cri]
              stream_server_address = "0.0.0.0"
              [plugins.cri.containerd]
                no_pivot = true

    - path: {{.kubelet_path}}/kubelet-config.yaml
      filesystem: root
      mode: 420
      contents:
        inline: |-
          kind: KubeletConfiguration
          apiVersion: kubelet.config.k8s.io/v1beta1
          authentication:
            anonymous:
              enabled: false
            webhook:
              enabled: true
            x509:
              clientCAFile: "{{.kubelet_path}}/ca.pem"
          authorization:
            mode: Webhook
          clusterDomain: "{{.cluster_domain}}"
          clusterDNS:
            - "{{.cluster_dns_ip}}"
          runtimeRequestTimeout: "15m"
          rotateCertificates: true
          serverTLSBootstrap: true
    - path: {{.kubelet_path}}/bootstrap.kubeconfig
      filesystem: root
      mode: 420
      contents:
        inline: |-
          apiVersion: v1
          clusters:
          - cluster:
              certificate-authority: {{.kubelet_path}}/ca.pem
              server: {{.apiserver_url}}
            name: {{.cluster_name}}
          contexts:
          - context:
              cluster: {{.cluster_name}}
              user: system:node:bootstrap
            name: default
          current-context: default
          kind: Config
          preferences: {}
          users:
          - name: system:node:bootstrap
            user:
              client-certificate: {{.kubelet_path}}/bootstrap.pem
              client-key: {{.kubelet_path}}/bootstrap-key.pem

passwd:
  users:
  - name: {{.default_user}}
    ssh_authorized_keys:
      - {{.ssh_authorized_key}}
