install
text
shutdown
skipx
url --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=fedora-$releasever&arch=$basearch
repo --name=fedora-updates --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=updates-released-f$releasever&arch=$basearch
repo --name=zfs-on-linux --baseurl=http://download.zfsonlinux.org/fedora/$releasever/$basearch/

lang en_US.UTF-8
keyboard us
timezone --utc Etc/UTC
rootpw --lock password
firewall --disabled
network --hostname={{.hostname}}

## user
user --name={{.default_user}} --password=password --plaintext --groups wheel
sshkey --username={{.default_user}} "{{.ssh_authorized_key}}"

## disk
zerombr
clearpart --all --initlabel --disklabel=gpt
autopart --type=plain
bootloader --timeout=1 --append="console=tty0 console=ttyS1,115200n8 elevator=noop intel_iommu=on iommu=pt cgroup_enable=memory"

## packages
%packages --excludeWeakdeps --excludedocs
@core
systemd-udev
which
ipmitool
libvirt-daemon-kvm
libvirt-client
qemu-kvm
openssh
gnupg
ksm
nfs-utils
pciutils
screen
dnf-automatic
lm_sensors
rsyslog
ca-certificates
vim-enhanced
rsync

## zol
kernel-devel
zfs

-zfs-fuse
-NetworkManager
-plymouth
-dhclient
-sendmail
-ppc64-utils
%end


##
## post config
##

%post --erroronfail

## fan control
cat <<EOF > /etc/systemd/system/fancontrol.service
# ipmi fan control:
#
# ommited full speed:
# ExecStartPre=/usr/bin/ipmitool raw 0x30 0x45 0x01 0x01
#
# setting a specific duty cycle:
# fan control 0x30 0x70 0x66
# get 0x00, set 0x01
# zone FAN 1,2,.. 0x00, FAN A,B,.. 0x01
# duty cycle 0x00-0x64
[Unit]
Description=Fan Control
After=ipmievd.service

[Service]
Type=oneshot
ExecStart=/usr/bin/ipmitool raw 0x30 0x70 0x66 0x01 0x00 0x10
ExecStart=/usr/bin/ipmitool raw 0x30 0x70 0x66 0x01 0x01 0x10
EOF

cat <<EOF > /etc/systemd/system/fancontrol.timer
[Unit]
Description=fancontrol timer
After=ipmievd.service

[Timer]
OnBootSec=5
OnUnitActiveSec=5

[Install]
WantedBy=basic.target
EOF


##
## networkd
##

## enable systemd-resolve
ln -sf /run/systemd/resolve/resolv.conf /etc/resolv.conf

## write all configs
cat <<EOF > /etc/systemd/resolved.conf
[Resolve]
FallbackDNS=
DNSStubListener=no
EOF

## default
cat <<EOF > /etc/systemd/network/99_en.network
[Match]
Name=en*

[Link]
ARP=no

[Network]
LinkLocalAddressing=no
DHCP=no
EOF

## store
cat <<EOF > /etc/systemd/network/00_{{.if_store}}.network
[Match]
Name={{.if_store}}

[Link]
ARP=no

[Network]
LinkLocalAddressing=no
DHCP=no
MACVLAN=macvlan_{{.if_store}}
EOF

cat <<EOF > /etc/systemd/network/00_macvlan_{{.if_store}}.netdev
[NetDev]
Name=macvlan_{{.if_store}}
Kind=macvlan

[MACVLAN]
Mode=bridge
EOF

cat <<EOF > /etc/systemd/network/00_macvlan_{{.if_store}}.network
[Match]
Name=macvlan_{{.if_store}}

[Network]
LinkLocalAddressing=no
DHCP=yes

[Address]
Address={{.ip_store}}/{{.netmask_store}}
EOF

## lan
cat <<EOF > /etc/systemd/network/00_{{.if_lan}}.network
[Match]
Name={{.if_lan}}

[Link]
ARP=no

[Network]
LinkLocalAddressing=no
DHCP=no
MACVLAN=macvlan_{{.if_lan}}
EOF

cat <<EOF > /etc/systemd/network/00_macvlan_{{.if_lan}}.netdev
[NetDev]
Name=macvlan_{{.if_lan}}
Kind=macvlan

[MACVLAN]
Mode=bridge
EOF

cat <<EOF > /etc/systemd/network/00_macvlan_{{.if_lan}}.network
[Match]
Name=macvlan_{{.if_lan}}

[Network]
LinkLocalAddressing=no
DHCP=yes

[Address]
Address={{.ip_lan}}/{{.netmask_lan}}
EOF


##
## general file writes
##

cat <<EOF > /etc/modprobe.d/local.conf
options kvm ignore_msrs=1
options kvm-intel nested=1
options igb max_vfs=8
options ixgbe max_vfs=8
EOF

cat <<EOF > /etc/dnf/automatic.conf
[commands]
apply_updates=True
upgrade_type=security

[emitters]
emit_via=motd
EOF

cat <<EOF > /etc/ssh/sshd_config
Subsystem sftp internal-sftp
ClientAliveInterval 180
UseDNS no
PermitRootLogin no
PasswordAuthentication no
ChallengeResponseAuthentication no
EOF


####
## live image settings - not really needed
## https://linux.xvx.cz/2017/07/how-to-build-pxe-fedora-26-live-image.html
####
cat <<EOF >> /etc/systemd/system.conf
DumpCore=no
EOF

cat <<EOF >> /etc/systemd/journald.conf
Storage=volatile
RuntimeMaxUse=15M
ForwardToSyslog=no
ForwardToConsole=no
EOF
####


##
## grub
##

cat <<EOF >> /etc/default/grub
GRUB_TERMINAL="console serial"
GRUB_SERIAL_COMMAND="serial --unit=1 --speed=115200 --word=8 --parity=no --stop=1"
EOF

## regenerate grub config
grub2-mkconfig -o /boot/grub2/grub.cfg


##
## enable services
##

systemctl enable \
  systemd-networkd systemd-resolved chronyd \
  ksm ksmtuned \
  zfs-import-cache zfs-import-scan zfs-mount zfs-share zfs-zed zfs.target nfs-server \
  fancontrol.timer \
  dnf-automatic.timer


##
## cleanup
##

dnf -y autoremove
dnf -y clean all

## remove machineid in case of reuse - may not be needed?
echo -n > /var/lib/dbus/machine-id
echo -n > /etc/machine-id

%end
