install
text
shutdown
skipx
url --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=fedora-$releasever&arch=$basearch
lang en_US.UTF-8
keyboard us
timezone --utc Etc/UTC
rootpw --lock password
firewall --disabled
selinux --disabled
network --hostname={{.name}}

## user
user --name={{.default_user}} --password=password --plaintext --groups wheel,libvirt
sshkey --username={{.default_user}} "{{.ssh_authorized_key}}"

## disk
zerombr
autopart --type=plain
clearpart --all --initlabel
bootloader --timeout=1 --append="console=tty0 console=ttyS1,115200n8 elevator=noop intel_iommu=on iommu=pt cgroup_enable=memory"

## packages
%packages --excludeWeakdeps --excludedocs
@core
systemd-udev
which
ipmitool
libvirt-daemon-kvm
libvirt-client
qemu-kvm
openssh
gnupg
ksm
nfs-utils
pciutils
screen
dnf-automatic
lm_sensors
rsyslog
rkt
docker
ca-certificates
wget
vim-enhanced
-NetworkManager
-plymouth
-dhclient
-sendmail
-ppc64-utils
%end

##
## post config
##

%post --erroronfail

## no password sudo
echo "%wheel ALL=(ALL) NOPASSWD: ALL" > /etc/sudoers.d/99_wheel

## install ZOL
dnf -y install http://download.zfsonlinux.org/fedora/zfs-release$(rpm -E %dist).noarch.rpm && \
gpg --quiet --with-fingerprint /etc/pki/rpm-gpg/RPM-GPG-KEY-zfsonlinux && \
dnf -y install "kernel-devel-uname-r == $(uname -r)" && \
dnf -y swap zfs-fuse zfs


cat <<EOF > /etc/systemd/system/kubelet.service
[Service]
ExecStartPre=/usr/bin/mkdir -p /var/log/containers
ExecStartPre=-/usr/bin/rkt rm --uuid-file=/var/run/kubelet-pod.uuid
ExecStart=/usr/bin/rkt run \
  --insecure-options=image \
  --uuid-file-save=/var/run/kubelet-pod.uuid \
  \
  --volume dns,kind=host,source=/etc/resolv.conf \
  --volume etc-kubernetes,kind=host,source=/etc/kubernetes,readOnly=false \
  --volume etc-ssl-certs,kind=host,source=/etc/ssl/certs,readOnly=true \
  --volume usr-share-certs,kind=host,source=/etc/pki/ca-trust,readOnly=true \
  --volume var-lib-docker,kind=host,source=/var/lib/docker,readOnly=false \
  --volume var-lib-kubelet,kind=host,source=/var/lib/kubelet,readOnly=false,recursive=true \
  --volume var-log,kind=host,source=/var/log,readOnly=false \
  --volume os-release,kind=host,source=/usr/lib/os-release,readOnly=true \
  --volume run,kind=host,source=/run,readOnly=false \
  --volume lib-modules,kind=host,source=/lib/modules,readOnly=true \
  \
  --mount volume=dns,target=/etc/resolv.conf \
  --mount volume=etc-kubernetes,target=/etc/kubernetes \
  --mount volume=etc-ssl-certs,target=/etc/ssl/certs \
  --mount volume=usr-share-certs,target=/etc/pki/ca-trust \
  --mount volume=var-lib-docker,target=/var/lib/docker \
  --mount volume=var-lib-kubelet,target=/var/lib/kubelet \
  --mount volume=var-log,target=/var/log \
  --mount volume=os-release,target=/etc/os-release \
  --mount volume=run,target=/run \
  --mount volume=lib-modules,target=/lib/modules \
  \
  --hosts-entry host \
  --stage1-from-dir=stage1-fly.aci docker://{{.hyperkube_image}} \
  --exec=/kubelet -- \
  --allow-privileged=true \
  --manifest-url=https://raw.githubusercontent.com/randomcoww/environment-config/master/manifests/{{.name}} \
  --docker-disable-shared-pid=false \
  --fail-swap-on=false \
  --cgroup-driver=systemd
ExecStop=-/usr/bin/rkt stop --uuid-file=/var/run/kubelet-pod.uuid
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
EOF


## fan control
cat <<EOF > /etc/systemd/system/fancontrol.service
# ipmi fan control:
#
# ommited full speed:
# ExecStartPre=/usr/bin/ipmitool raw 0x30 0x45 0x01 0x01
#
# setting a specific duty cycle:
# fan control 0x30 0x70 0x66
# get 0x00, set 0x01
# zone FAN 1,2,.. 0x00, FAN A,B,.. 0x01
# duty cycle 0x00-0x64
[Unit]
Description=Fan Control
After=ipmievd.service

[Service]
Type=oneshot
ExecStart=/usr/bin/ipmitool raw 0x30 0x70 0x66 0x01 0x00 0x10
ExecStart=/usr/bin/ipmitool raw 0x30 0x70 0x66 0x01 0x01 0x10

[Install]
WantedBy=multi-user.target
EOF


##
## networkd
##

## enable systemd-resolve
ln -sf /run/systemd/resolve/resolv.conf /etc/resolv.conf

## write all configs
cat <<EOF > /etc/systemd/resolved.conf
[Resolve]
FallbackDNS=
DNSStubListener=no
EOF

## wan
cat <<EOF > /etc/systemd/network/eno2.network
[Match]
Name=eno2

[Network]
LinkLocalAddressing=no
DHCP=no
EOF

## default network pair
cat <<EOF > /etc/systemd/network/ens1f0.network
[Match]
Name=ens1f0

[Network]
LinkLocalAddressing=no
DHCP=no
MACVLAN=store_host
EOF

cat <<EOF > /etc/systemd/network/store_host.netdev
[NetDev]
Name=store_host
Kind=macvlan

[MACVLAN]
Mode=bridge
EOF

cat <<EOF > /etc/systemd/network/store_host.network
[Match]
Name=store_host

[Network]
LinkLocalAddressing=no
DHCP=yes

[Address]
Address={{.store_ip}}/{{.netmask}}

## lan network pairs

cat <<EOF > /etc/systemd/network/ens1f1.network
[Match]
Name=ens1f1

[Network]
LinkLocalAddressing=no
DHCP=no
MACVLAN=lan_host
EOF

cat <<EOF > /etc/systemd/network/lan_host.netdev
[NetDev]
Name=lan_host
Kind=macvlan

[MACVLAN]
Mode=bridge
EOF

cat <<EOF > /etc/systemd/network/lan_host.network
[Match]
Name=lan_host

[Network]
LinkLocalAddressing=no
DHCP=no

[Address]
Address={{.lan_ip}}
EOF


##
## general file writes
##

## distribute common internal cert
cat <<EOF > {{.cert_base_path}}-ca.pem
{{.internal_ca}}
EOF

cat <<EOF > {{.cert_base_path}}-key.pem
{{.internal_key}}
EOF

cat <<EOF > {{.cert_base_path}}.pem
{{.internal_cert}}
EOF

cat <<EOF > /etc/modprobe.d/local.conf
options kvm ignore_msrs=1
options kvm-intel nested=1
options igb max_vfs=16
options ixgbe max_vfs=16
EOF

cat <<EOF > /etc/dnf/automatic.conf
[commands]
apply_updates=True
upgrade_type=default

[emitters]
emit_via=motd
EOF

cat <<EOF > /etc/ssh/sshd_config
Subsystem sftp internal-sftp
PermitRootLogin no
PasswordAuthentication no
ChallengeResponseAuthentication no
EOF


##
## enable services
##

systemctl enable systemd-networkd systemd-resolved ksm ksmtuned fancontrol zfs-import-cache zfs-import-scan zfs-mount zfs-share zfs-zed zfs.target nfs-server dnf-automatic-download.timer chronyd docker kubelet


##
## grub
##

cat <<EOF >> /etc/default/grub
GRUB_TERMINAL="console serial"
GRUB_SERIAL_COMMAND="serial --unit=1 --speed=115200 --word=8 --parity=no --stop=1"
EOF

## regenerate grub config
grub2-mkconfig -o /boot/grub2/grub.cfg


##
## cleanup
##

dnf -y autoremove
dnf -y clean all

## remove machineid in case of reuse - may not be needed?
echo -n > /var/lib/dbus/machine-id
echo -n > /etc/machine-id

%end
