apiVersion: v1
kind: Service
metadata:
  name: loki-lb
  namespace: monitoring
    app: loki
spec:
  type: LoadBalancer
  loadBalancerIP: "${services.loki.vip}"
  ports:
  - port: ${services.loki.ports.http_listen}
    protocol: TCP
    name: http-metrics
    targetPort: http-metrics
  selector:
    app: loki