timezone --utc America/Los_Angeles
selinux --disabled
part / --size 20480 --fstype ext4

## Not used for live images. Add this to lorax template.
# bootloader --append="rd.live.image elevator=noop intel_iommu=on amd_iommu=on iommu=pt rd.live.ram=1 plymouth.enable=0 rd.plymouth=0 rd.driver.blacklist=nouveau modprobe.blacklist=nouveau clearcpuid=514"

repo --name=rpmfusion-free --metalink=https://mirrors.rpmfusion.org/metalink?repo=free-fedora-$releasever&arch=$basearch
repo --name=rpmfusion-free-updates --metalink=https://mirrors.rpmfusion.org/metalink?repo=free-fedora-updates-released-$releasever&arch=$basearch
repo --name=rpmfusion-nonfree --metalink=https://mirrors.rpmfusion.org/metalink?repo=nonfree-fedora-$releasever&arch=$basearch
repo --name=rpmfusion-nonfree-updates --metalink=https://mirrors.rpmfusion.org/metalink?repo=nonfree-fedora-updates-released-$releasever&arch=$basearch

repo --name=kubernetes --baseurl=https://packages.cloud.google.com/yum/repos/kubernetes-el7-$basearch
repo --name=code --baseurl=https://packages.microsoft.com/yumrepos/vscode
repo --name=winehq --baseurl=https://dl.winehq.org/wine-builds/fedora/30

%packages

@firefox
@fonts
@gnome-desktop
@hardware-support
@printing
@base-x
hdparm
ipmitool
pciutils
lm_sensors
libvirt-client
xclip
vim-enhanced
git
golang
kubectl
code
mpv
youtube-dl
nmap
unzip
awscli
lorax-lmc-novirt
xorriso
virt-viewer
gimp
ldns-utils
openssl
vlc
jq
ncmpcpp
podman
net-tools
vdpauinfo
libva-vdpau-driver
libva-utils

## gaming
steam
lutris
gnutls
gnutls-devel
openldap
openldap-devel
libgpg-error
sqlite2.i686
sqlite2.x86_64
winehq-staging

-gnome-boxes
-gnome-initial-setup

%end

user --name=${user} --password=${password} --plaintext --uid=10000 --gid=10000 --groups=wheel,libvirt --homedir=${persistent_home_path}/${user}

%post --erroronfail

##############################################
## persistent home directory
##############################################

mkdir -p ${persistent_home_path}

cat <<EOF > /etc/systemd/system/${persistent_home_mount}
[Unit]
Before=local-fs.target

[Mount]
What=${persistent_home_dev}
Where=${persistent_home_path}

[Install]
WantedBy=local-fs.target
EOF

##############################################
## trust internal CA
##############################################

cat <<EOF > ${certs_path}/internal-ca.pem
${tls_internal_ca}
EOF

update-ca-trust

##############################################
## enable services
##############################################

systemctl enable \
  ${persistent_home_mount}

systemctl set-default graphical.target

%end
