<domain type='kvm'>
  <name>${name}</name>
  <memory unit='GiB'>${p.memory}</memory>
  <currentMemory unit='GiB'>${p.memory}</currentMemory>
  <vcpu placement='static'>${p.vcpu}</vcpu>
  <os>
    <type arch='x86_64' machine='pc'>hvm</type>
  </os>
  <features>
    <acpi/>
    <apic/>
    <pae/>
    <vmport state='off'/>
  </features>
  <cpu mode='host-passthrough'>
    <topology sockets='1' cores='${p.vcpu}' threads='1'/>
    <cache level='3' mode='emulate'/>
  </cpu>
  <on_crash>restart</on_crash>
  <devices>
    <emulator>/usr/bin/qemu-system-x86_64</emulator>
    %{~ for n in p.network ~}
    %{~ if lookup(n, "libvirt_network", null) != null ~}
    <interface type='network'>
    <source network='${n.libvirt_network}'/>
      %{~ if lookup(n, "mac", null) != null ~}
      <mac address='${join(":", split("-", n.mac))}'/>
      %{~ endif ~}
      %{~ if lookup(n, "bootorder", null) != null ~}
      <boot order='${n.bootorder}'/>
      %{~ endif ~}
      %{~ if lookup(n, "id", null) != null ~}
      <vlan>
        <tag id='${n.id}'/>
      </vlan>
      %{~ endif ~}
      <guest dev="${n.if}"/>
    </interface>
    %{~ else ~}
    <interface type='direct' trustGuestRxFilters='yes'>
      <source dev='${hypervisor_p.networks_by_key[n.label].if}' mode='bridge'/>
      %{~ if lookup(n, "mac", null) != null ~}
      <mac address='${join(":", split("-", n.mac))}'/>
      %{~ endif ~}
      %{~ if lookup(n, "bootorder", null) != null ~}
      <boot order='${n.bootorder}'/>
      %{~ endif ~}
      <guest dev="${n.if}"/>
      <model type='virtio-net'/>
    </interface>
    %{~ endif ~}
    %{~ endfor ~}
    <controller type='usb' model='none'/>
    <controller type='scsi' model='virtio-scsi'/>
    %{~ for d in p.disk ~}
    %{~ if lookup(d, "source", null) != null && lookup(d, "target", null) != null ~}
    <disk type='block' device='disk'>
      <driver name='qemu' type='raw' cache='none' io='native' discard='unmap'/>
      <source dev='${d.source}'/>
      <target dev='${d.target}' bus='scsi'/>
    </disk>
    %{~ endif ~}
    %{~ endfor ~}
    <disk type='file' device='cdrom'>
      <driver name='qemu' type='raw'/>
      <source file='${hypervisor_p.boot_image_mount_path}'/>
      <target dev='sda' bus='scsi'/>
      <readonly/>
    </disk>
    %{~ for h in p.hostdev ~}
    %{~ if lookup(hypervisor_p.dev, h, null) != null ~}
    <hostdev mode='subsystem' type='pci' managed='yes'>
      <driver name='vfio'/>
      <source>
        <address domain='${hypervisor_p.dev[h].domain}' bus='${hypervisor_p.dev[h].bus}' slot='${hypervisor_p.dev[h].slot}' function='${hypervisor_p.dev[h].function}'/>
      </source>
      %{~ if lookup(hypervisor_p.dev[h], "rom", null) != null ~}
      <rom bar='on' file='${hypervisor_p.dev[h].rom}'/>
      %{~ endif ~}
    </hostdev>
    %{~ endif ~}
    %{~ endfor ~}
    <console>
      <target type='virtio'/>
    </console>
    <channel type='spicevmc'>
      <target type='virtio' name='com.redhat.spice.0'/>
      <address type='virtio-serial'/>
    </channel>
    <memballoon model='virtio'/>
    <rng model='virtio'>
      <backend model='random'>/dev/urandom</backend>
    </rng>
  </devices>
</domain>
