---
apiVersion: v1
kind: PodList
items:
- apiVersion: v1
  kind: Pod
  metadata:
    name: nftables
  spec:
    restartPolicy: OnFailure
    hostNetwork: true
    containers:
    - name: nftables
      image: {{.nftables_image}}
      securityContext:
        capabilities:
          add:
          - NET_ADMIN
      env:
      - name: NFTABLES_LOCAL_CONFIG
        value: |
          define if_internal = { {{.lan_if}}, {{.store_if}} }
          define if_external = {{.wan_if}}
          define if_trusted = {{.store_if}}

          table ip filter {
            chain base_checks {
              ct state {established, related} accept;
              ct state invalid drop;
            }

            set tcp_fwd {
              type inet_service; flags interval;
              elements = {
                ssh,
                sunrpc,nfs
              }
            }

            set udp_fwd {
              type inet_service; flags interval;
              elements = {
                sunrpc,nfs
              }
            }

            chain input {
              type filter hook input priority 0; policy drop;

              jump base_checks;

              iifname "lo" accept;
              iifname != "lo" ip daddr 127.0.0.1/8 drop;

              ip protocol icmp icmp type { echo-request, echo-reply, time-exceeded, parameter-problem, destination-unreachable } accept;

              iifname $if_trusted accept;

              iifname $if_internal tcp dport domain accept;
              iifname $if_internal udp dport domain accept;
              iifname $if_internal udp sport bootps udp dport bootpc accept;
              iifname $if_internal pkttype multicast accept;
              iifname $if_internal tcp dport ssh accept;
            }

            chain forward {
              type filter hook forward priority 0; policy drop;

              jump base_checks;

              ip protocol icmp icmp type { echo-request, echo-reply, time-exceeded, parameter-problem, destination-unreachable } accept;

              iifname $if_trusted accept;
              iifname $if_internal oifname $if_external accept;

              iifname $if_internal tcp dport @tcp_fwd accept;
              iifname $if_internal udp dport @udp_fwd accept;

              iifname $if_internal ip daddr {{.controller_vip}} accept;
              iifname $if_internal ip daddr {{.metallb_ip_range}} accept;

              ip daddr {{.controller_vip}} ct status dnat accept;
            }

            chain output {
              type filter hook output priority 100; policy accept;
            }
          }

          table ip nat {
            set tcp_dnat {
              type inet_service; flags interval;
              elements = {
                2222
              }
            }

            chain prerouting {
              type nat hook prerouting priority 0; policy accept;
              tcp dport @tcp_dnat dnat {{.controller_vip}};
            }

            chain input {
              type nat hook input priority 0; policy accept;
            }

            chain output {
              type nat hook output priority 0; policy accept;
            }

            chain postrouting {
              type nat hook postrouting priority 100; policy accept;
              oifname $if_external masquerade;
            }
          }
          ;
- apiVersion: v1
  kind: Pod
  metadata:
    name: kea
  spec:
    restartPolicy: Always
    hostNetwork: true
    containers:
    - name: kea-control-agent
      image: {{.kea_image}}
      args:
      - kea-ctrl-agent
      env:
      - name: KEA_LOCAL_CONFIG
        value: |-
          {
            "Control-agent": {
              "http-host": "0.0.0.0",
              "http-port": {{.kea_peer_port}},
              "control-sockets": {
                "dhcp4": {
                  "socket-type": "unix",
                  "socket-name": "{{.kea_path}}/kea-dhcp4-ctrl.sock"
                }
              }
            }
          }
      volumeMounts:
      - name: kea-path
        mountPath: "{{.kea_path}}"
        readOnly: false
    - name: kea-dhcp4
      image: {{.kea_image}}
      args:
      - kea-dhcp4
      env:
      - name: NODE_NAME
        valueFrom:
          fieldRef:
            fieldPath: spec.nodeName
      - name: KEA_LOCAL_CONFIG
        value: |-
          {
            "Dhcp4": {
              "valid-lifetime": 1200,
              "renew-timer": 1200,
              "rebind-timer": 1200,
              "interfaces-config": {
                "interfaces": [
                  "*"
                ]
              },
              "control-socket": {
                "socket-type": "unix",
                "socket-name": "{{.kea_path}}/kea-dhcp4-ctrl.sock"
              },
              "lease-database": {
                "type": "memfile",
                "name": "{{.kea_path}}/dhcp4.leases",
                "persist": true
              },
              "option-data": [
                {
                  "name": "domain-name-servers",
                  "data": "{{.dns_vip}},{{.backup_dns_ip}}",
                  "csv-format": true
                },
                {
                  "name": "domain-name",
                  "data": "{{.domain_name}}"
                }
              ],
              "client-classes": [
                {
                  "name": "ipxe_detected",
                  "test": "substring(option[77].hex,0,4) == 'iPXE'",
                  "boot-file-name": "http://{{.matchbox_vip}}:{{.matchbox_http_port}}/boot.ipxe"
                },
                {
                  "name": "ipxe",
                  "test": "not(substring(option[77].hex,0,4) == 'iPXE') and (option[93].hex == 0x0000)",
                  "next-server": "{{.matchbox_vip}}",
                  "boot-file-name": "/undionly.kpxe"
                },
                {
                  "name": "ipxe_efi",
                  "test": "not(substring(option[77].hex,0,4) == 'iPXE') and (option[93].hex == 0x0007)",
                  "next-server": "{{.matchbox_vip}}",
                  "boot-file-name": "/ipxe.efi"
                }
              ],
              "hooks-libraries": [
                {
                  "library": "/usr/local/lib/hooks/libdhcp_lease_cmds.so",
                  "parameters": {}
                },
                {
                  "library": "/usr/local/lib/hooks/libdhcp_ha.so",
                  "parameters": {
                    "high-availability": [
                      {
                        "this-server-name": "$(NODE_NAME)",
                        "mode": "hot-standby",
                        "max-unacked-clients": 5,
                        "peers": [
                          {{.kea_ha_peers}}
                        ]
                      }
                    ]
                  }
                }
              ],
              "subnet4": [
                {
                  "subnet": "{{.lan_ip_range}}",
                  "option-data": [
                    {
                      "name": "routers",
                      "data": "{{.lan_gateway_vip}}"
                    }
                  ],
                  "pools": [
                    {
                      "pool": "{{.lan_dhcp_ip_range}}"
                    }
                  ]
                },
                {
                  "subnet": "{{.store_ip_range}}",
                  "option-data": [
                    {
                      "name": "routers",
                      "data": "{{.store_gateway_vip}}"
                    },
                    {
                      "name": "interface-mtu",
                      "data": "{{.mtu}}"
                    }
                  ],
                  "pools": [
                    {
                      "pool": "{{.store_dhcp_ip_range}}"
                    }
                  ]
                }
              ],
              "dhcp-ddns": {
                "enable-updates": true,
                "qualifying-suffix": "{{.domain_name}}.",
                "override-client-update": true,
                "override-no-update": true,
                "replace-client-name": "when-not-present"
              }
            }
          }
      volumeMounts:
      - name: kea-path
        mountPath: "{{.kea_path}}"
        readOnly: false
    volumes:
    - name: kea-path
      emptyDir: {}
- apiVersion: v1
  kind: Pod
  metadata:
    namespace: kube-system
    name: keepalived
  spec:
    restartPolicy: Always
    hostNetwork: true
    containers:
    - name: keepalived
      image: {{.keepalived_image}}
      securityContext:
        capabilities:
          add:
          - NET_ADMIN
      args:
      - "-P"
      env:
      - name: KEEPALIVED_LOCAL_CONFIG
        value: |-
          global_defs {
            vrrp_version 3
          }
          vrrp_instance VI_gateway {
            state BACKUP
            strict_mode off
            virtual_router_id 247
            interface {{.store_if}}
            track_interface {
              {{.wan_if}}
            }
            priority 100
            virtual_ipaddress {
              {{.store_gateway_vip}} dev {{.store_if}}
              {{.lan_gateway_vip}} dev {{.lan_if}}
            }
          }
          vrrp_script CHK_matchbox {
            script "nc -z -w5 localhost {{.matchbox_http_port}}"
            interval 2
          }
          vrrp_instance VI_matchbox_store {
            state BACKUP
            strict_mode off
            virtual_router_id 39
            interface {{.store_if}}
            priority 100
            virtual_ipaddress {
              {{.matchbox_vip}}
            }
            track_script {
              CHK_matchbox
            }
          }
- apiVersion: v1
  kind: Pod
  metadata:
    name: kea-tftp
  spec:
    restartPolicy: Always
    hostNetwork: true
    containers:
    - name: tftpd-ipxe
      image: {{.tftpd_image}}
      args:
      - "--address"
      - 0.0.0.0:69
      - "--verbose"
- kind: Pod
  apiVersion: v1
  metadata:
    name: matchbox
  spec:
    hostNetwork: true
    containers:
    - name: matchbox
      image: {{.matchbox_image}}
      args:
      - "-address=0.0.0.0:{{.matchbox_http_port}}"
      - "-rpc-address=0.0.0.0:{{.matchbox_rpc_port}}"
      - "-ca-file={{.certs_path}}/ca.pem"
      - "-cert-file={{.certs_path}}/matchbox.pem"
      - "-key-file={{.certs_path}}/matchbox-key.pem"
      - "-data-path={{.matchbox_path}}"
      - "-assets-path="
      volumeMounts:
      - mountPath: "{{.certs_path}}"
        name: certs-path
        readOnly: true
      - mountPath: "{{.matchbox_path}}"
        name: matchbox-data
        readOnly: false
    - name: syncthing
      image: {{.syncthing_image}}
      env:
      - name: NODE_IP
        valueFrom:
          fieldRef:
            fieldPath: status.hostIP
      - name: CERT_PATH
        value: {{.certs_path}}/syncthing.pem
      - name: KEY_PATH
        value: {{.certs_path}}/syncthing-key.pem
      - name: SYNCTHING_LOCAL_CONFIG
        value: |-
          <configuration>
            <folder id="matchbox" label="matchbox" path="{{.matchbox_path}}" type="sendreceive" fsWatcherEnabled="true" fsWatcherDelayS="1" rescanIntervalS="10" autoNormalize="false">
              {{.syncthing_folder_devices}}
              <maxConflicts>1</maxConflicts>
            </folder>
            {{.syncthing_devices}}
            <gui enabled="false"/>
            <options>
              <listenAddress>$(NODE_IP):{{.syncthing_peer_port}}</listenAddress>
              <globalAnnounceEnabled>false</globalAnnounceEnabled>
              <localAnnounceEnabled>false</localAnnounceEnabled>
              <reconnectionIntervalS>5</reconnectionIntervalS>
              <relaysEnabled>false</relaysEnabled>
              <startBrowser>false</startBrowser>
              <natEnabled>false</natEnabled>
              <urAccepted>-1</urAccepted>
              <autoUpgradeIntervalH>0</autoUpgradeIntervalH>
              <defaultFolderPath></defaultFolderPath>
            </options>
          </configuration>
      volumeMounts:
      - mountPath: "{{.certs_path}}"
        name: certs-path
        readOnly: true
      - mountPath: "{{.matchbox_path}}"
        name: matchbox-data
        readOnly: false
    volumes:
    - name: certs-path
      hostPath:
        path: "{{.certs_path}}"
    - name: matchbox-data
      emptyDir: {}