install
shutdown
skipx
url --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=fedora-$releasever&arch=$basearch
repo --name=fedora-updates --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=updates-released-f$releasever&arch=$basearch
repo --name=zfs-on-linux --baseurl=http://download.zfsonlinux.org/fedora/$releasever/$basearch/

lang en_US.UTF-8
keyboard us
timezone --utc Etc/UTC
rootpw --lock password
firewall --disabled
network --hostname={{.hostname}}

## disk
zerombr
clearpart --all --initlabel --disklabel=gpt
autopart --type=plain --noswap --nohome
bootloader --timeout=1 --append="console=tty0 console=ttyS1,115200n8 elevator=noop intel_iommu=on iommu=pt"

## packages
%packages --excludeWeakdeps --excludedocs
@core
libvirt-daemon-kvm
qemu-kvm
ksm
ipmitool
openssh-server
cronie
logrotate
kernel-devel
zfs
nfs-utils

screen
pciutils
lm_sensors
rsync
hdparm
libvirt-client

-zfs-fuse
-NetworkManager
-plymouth
-dhcp-client
-ppc64-utils
%end

## user
user --name={{.default_user}} --password={{.password}} --plaintext --groups=wheel,libvirt
sshkey --username={{.default_user}} "{{.ssh_authorized_key}}"


##
## post config
##

%post --erroronfail


##
## networkd
##

## enable systemd-resolve
ln -sf /run/systemd/resolve/resolv.conf /etc/resolv.conf

## write all configs
cat <<EOF > /etc/systemd/resolved.conf
[Resolve]
FallbackDNS=
DNSStubListener=no
EOF

## default
cat <<EOF > /etc/systemd/network/99_en.network
[Match]
Name=en*

[Link]
ARP=no
MTUBytes={{.mtu}}

[Network]
LinkLocalAddressing=no
DHCP=no
EOF

## host macvtap
cat <<EOF > /etc/systemd/network/00_{{.host_if}}.network
[Match]
Name={{.host_if}}

[Link]
ARP=no
MTUBytes={{.mtu}}

[Network]
LinkLocalAddressing=no
DHCP=no
MACVTAP=v{{.host_if}}
EOF

cat <<EOF > /etc/systemd/network/00_v{{.host_if}}.netdev
[NetDev]
Name=v{{.host_if}}
Kind=macvtap

[MACVTAP]
Mode=bridge
EOF

cat <<EOF > /etc/systemd/network/00_v{{.host_if}}.network
[Match]
Name=v{{.host_if}}

[Link]
MTUBytes={{.mtu}}

[Network]
LinkLocalAddressing=no
DHCP=yes

[Address]
Address={{.host_ip}}/{{.host_netmask}}
EOF


##
## general file writes
##

cat <<EOF > /etc/modprobe.d/local.conf
options igb max_vfs=8
options ixgbe max_vfs=8
EOF

cat <<EOF > /etc/ssh/sshd_config
Subsystem sftp internal-sftp
ClientAliveInterval 180
UseDNS no
PermitRootLogin no
PasswordAuthentication no
ChallengeResponseAuthentication no
EOF


##
## live image settings
## systemd configs from https://linux.xvx.cz/2017/07/how-to-build-pxe-fedora-26-live-image.html
##

cat <<EOF >> /etc/systemd/system.conf
DumpCore=no
EOF

cat <<EOF >> /etc/systemd/journald.conf
Storage=volatile
RuntimeMaxUse=15M
ForwardToSyslog=no
ForwardToConsole=no
EOF


##
## grub
##

cat <<EOF >> /etc/default/grub
GRUB_TERMINAL="console serial"
GRUB_SERIAL_COMMAND="serial --unit=1 --speed=115200 --word=8 --parity=no --stop=1"
EOF

## regenerate grub config
# grub2-mkconfig -o /boot/grub2/grub.cfg


##
## enable services
##

systemctl enable \
  systemd-networkd systemd-resolved chronyd crond sshd \
  ksm ksmtuned \
  zfs-import-cache zfs-import-scan zfs-mount zfs-share zfs-zed zfs.target nfs-server


##
## cleanup
##

dnf -y autoremove
dnf -y clean all

## remove machineid in case of reuse - may not be needed?
echo -n > /var/lib/dbus/machine-id
echo -n > /etc/machine-id

%end
