install
reboot
url --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=fedora-$releasever&arch=$basearch
repo --name=fedora-updates --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=updates-released-f$releasever&arch=$basearch
repo --name=rpmfusion-free --metalink=https://mirrors.rpmfusion.org/metalink?repo=free-fedora-$releasever&arch=$basearch
repo --name=rpmfusion-free-updates --metalink=https://mirrors.rpmfusion.org/metalink?repo=free-fedora-updates-released-$releasever&arch=$basearch
repo --name=rpmfusion-nonfree --metalink=https://mirrors.rpmfusion.org/metalink?repo=nonfree-fedora-$releasever&arch=$basearch
repo --name=rpmfusion-nonfree-updates --metalink=https://mirrors.rpmfusion.org/metalink?repo=nonfree-fedora-updates-released-$releasever&arch=$basearch

lang en_US.UTF-8
keyboard us
timezone --utc Etc/UTC
rootpw --lock password
firewall --disabled
network --hostname={{.hostname}}

## disk
zerombr
clearpart --all --initlabel --disklabel=gpt
autopart --type=plain
bootloader --timeout=1 --append="elevator=noop"

## packages
%packages --excludeWeakdeps --excludedocs
@core
libvirt-daemon-kvm
qemu-kvm
ksm
ipmitool
dnf-automatic
cronie
logrotate
nfs-utils

screen
pciutils
lm_sensors
rsync
libvirt-client
vim-enhanced

@gnome-desktop
@fonts
@printing
@hardware-support
@base-x
firefox
tilix
git
wget

-NetworkManager
-plymouth
-dhcp-client
-ppc64-utils
%end

## user
user --name={{.default_user}} --password={{.password}} --plaintext --groups=wheel,libvirt,docker


##
## post config
##

%post --erroronfail


##
## networkd
##

## enable systemd-resolve
ln -sf /run/systemd/resolve/resolv.conf /etc/resolv.conf

## write all configs
cat <<EOF > /etc/systemd/resolved.conf
[Resolve]
FallbackDNS=
DNSStubListener=no
EOF

## default
cat <<EOF > /etc/systemd/network/99_en.network
[Match]
Name=en*

[Link]
ARP=no

[Network]
LinkLocalAddressing=no
DHCP=no
EOF

## host macvlan
cat <<EOF > /etc/systemd/network/00_{{.host_if}}.network
[Match]
Name={{.host_if}}

[Network]
LinkLocalAddressing=no
DHCP=yes

[Address]
Address={{.host_ip}}/{{.host_netmask}}
EOF


##
## general file writes
##

cat <<EOF > /etc/dnf/automatic.conf
[commands]
apply_updates=True
upgrade_type=security

[emitters]
emit_via=motd
EOF


##
## enable services
##

systemctl enable \
  systemd-networkd systemd-resolved chronyd crond \
  ksm ksmtuned \
  dnf-automatic.timer

systemctl set-default graphical.target

##
## cleanup
##

dnf -y autoremove
dnf -y clean all

%end
