##
## desktop-* host kickstart for livecd-creator
##

timezone --utc America/Los_Angeles
selinux --disabled
part / --size 20480 --fstype ext4

## Not used for live images. Add this to lorax template.
# bootloader --append="elevator=noop intel_iommu=on iommu=pt plymouth.enable=0 rd.plymouth=0 rd.driver.pre=vfio-pci video=vesafb:off,efifb:off"

repo --name=rpmfusion-free --metalink=https://mirrors.rpmfusion.org/metalink?repo=free-fedora-$releasever&arch=$basearch
repo --name=rpmfusion-free-updates --metalink=https://mirrors.rpmfusion.org/metalink?repo=free-fedora-updates-released-$releasever&arch=$basearch
repo --name=rpmfusion-nonfree --metalink=https://mirrors.rpmfusion.org/metalink?repo=nonfree-fedora-$releasever&arch=$basearch
repo --name=rpmfusion-nonfree-updates --metalink=https://mirrors.rpmfusion.org/metalink?repo=nonfree-fedora-updates-released-$releasever&arch=$basearch

repo --name=kubernetes --baseurl=https://packages.cloud.google.com/yum/repos/kubernetes-el7-$basearch
repo --name=code --baseurl=https://packages.microsoft.com/yumrepos/vscode
repo --name=docker-ce-stable --baseurl=https://download.docker.com/linux/fedora/29/$basearch/stable
repo --name=docker-ce-stable-source --baseurl=https://download.docker.com/linux/fedora/29/source/stable

%packages --excludeWeakdeps

@firefox
@fonts
@gnome-desktop
@hardware-support
@printing
@base-x
hdparm
ipmitool
pciutils
lm_sensors
libvirt-client
rsync
tmux
xclip
docker-ce
docker-compose
libva-utils
libva-intel-driver
vim-enhanced
git
golang
kubectl
code
mpv
youtube-dl
nmap
unzip
awscli
lorax-lmc-novirt
xorriso
virt-viewer
gimp
ldns-utils
openssl
# steam
vlc
jq
ncmpcpp
deadbeef

-gnome-boxes
-gnome-initial-setup

%end

##
## user
##

user --name={{.default_user}} --password={{.password}} --plaintext --uid=1000 --gid=1000 --groups=wheel,libvirt,docker,qemu,input --homedir={{.localhome_path}}/{{.default_user}}

%post --erroronfail

##
## networkd
##

## default

cat <<EOF > /etc/systemd/network/99_en.network
[Match]
Name=en*

[Link]
ARP=no
MTUBytes={{.mtu}}

[Network]
LinkLocalAddressing=no
DHCP=no
EOF

cat <<EOF > /etc/systemd/network/00_{{.store_if}}.network
[Match]
Name={{.store_if}}

[Link]
ARP=no
MTUBytes={{.mtu}}

[Network]
LinkLocalAddressing=no
DHCP=no
MACVTAP={{.store_macvlan_if}}
VLAN={{.lan_if}}
VLAN={{.sync_if}}
VLAN={{.wan_if}}
EOF

## vlan

cat <<EOF > /etc/systemd/network/{{.wan_if}}.netdev
[NetDev]
Name={{.wan_if}}
Kind=vlan

[VLAN]
Id=30
EOF

cat <<EOF > /etc/systemd/network/{{.sync_if}}.netdev
[NetDev]
Name={{.sync_if}}
Kind=vlan

[VLAN]
Id=60
EOF

cat <<EOF > /etc/systemd/network/{{.lan_if}}.netdev
[NetDev]
Name={{.lan_if}}
Kind=vlan

[VLAN]
Id=90
EOF

## host macvtap

cat <<EOF > /etc/systemd/network/{{.store_macvlan_if}}.netdev
[NetDev]
Name={{.store_macvlan_if}}
Kind=macvtap

[MACVTAP]
Mode=bridge
EOF

cat <<EOF > /etc/systemd/network/{{.store_macvlan_if}}.network
[Match]
Name={{.store_macvlan_if}}

[Link]
MTUBytes={{.mtu}}

[Network]
LinkLocalAddressing=no
DHCP=yes

[Address]
Address={{.store_ip}}/{{.store_netmask}}
EOF

##
## general file writes
##

cat <<EOF > /etc/sysctl.d/local.conf
vm.nr_hugepages=4096
EOF

## Does not seem to work in live boot, particularly for vfio-pci. Added to boot parameter.
# cat <<EOF > /etc/modprobe.d/local.conf
# options vfio-pci ids=1002:ffffffff:ffffffff:ffffffff:00030000:ffff00ff,1002:ffffffff:ffffffff:ffffffff:00040300:ffffffff,10de:ffffffff:ffffffff:ffffffff:00030000:ffff00ff,10de:ffffffff:ffffffff:ffffffff:00040300:ffffffff
# options kvm ignore_msrs=1
# EOF

## Not used. Pass this into livemedia-creator dracut-args.
# cat <<EOF > /etc/dracut.conf.d/local.conf
# add_drivers+="vfio vfio_iommu_type1 vfio_pci vfio_virqfd"
# EOF

## Does not work with livemedia-creator
# KERNEL_VERSION=$(rpm -q kernel --qf '%{version}-%{release}.%{arch}\n')
# dracut -f /boot/initramfs-$KERNEL_VERSION.img $KERNEL_VERSION

##
## qemu.conf changes needed for evdev and pa
##

cat <<EOF >> /etc/libvirt/qemu.conf
user = "{{.default_user}}"
cgroup_device_acl = [
    "/dev/null", "/dev/full", "/dev/zero",
    "/dev/random", "/dev/urandom",
    "/dev/ptmx", "/dev/kvm", "/dev/kqemu",
    "/dev/rtc","/dev/hpet", "/dev/sev",
    "/dev/input/by-id/usb-Logitech_USB_Receiver-event-mouse",
    "/dev/input/by-id/usb-Cooler_Master_Technology_Inc._MasterKeys_S-event-kbd",
]
EOF

##
## enable services
##

systemctl enable \
  docker

systemctl set-default graphical.target

%end
